@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
main {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.alert-box {
  /* Estilos de la caja de alerta */
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.animate {
  /* Anima la entrada */
  opacity: 1;
  transform: translateY(0);
}

/* styles.css or a Tailwind configuration file */
.text-orange-important {
  color: orange !important;
}
.text-green-important {
  color: rgb(41, 199, 41) !important;
}
.text-blue-important {
  color: blue !important;
}
.text-black-important {
  color: black !important;
}
